.little-big-header {
	font-size: 2.5rem;
	font-family: Bradley Hand, cursive;
	margin: 0;
	color: #00ACED;
}
.small-header {
	font-size: 1.5rem;
	margin: 0;
	color: white;
}
div.message {
	text-align: center;
	cursor: pointer;
	display: block;
	font-weight: normal;
	padding: 5px 1.5rem 0 1.5rem;
	transition: height 300ms ease-out 0s;
	background-color: #a0d3e8;
	color: #626262;
	top: 15px;
	right: 15px;
	z-index: 999;
	overflow: hidden;
	height: 50px;
	line-height: 2.5em;
}

div.message:before {
	line-height: 0px;
	font-size: 20px;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	left: -11px;
	background-color: #FFF;
	padding: 12px 14px 12px 10px;
	content: "i";
	color: #a0d3e8;
}

div.message.error {
	background-color: #C3232D;
	color: #FFF;
}

div.message.error:before {
	padding: 11px 16px 14px 7px;
	color: #C3232D;
	content: "x";
}
div.message.hidden {
	height: 0;
}